body {
  font-family: Arial, sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
}

.calculator {
  background-color: #1e293b;
  padding: 22px;
  border-radius: 11px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 305px;
  border: 2px solid #60a5fa;
}

#display {
  background-color: #0f172a;
  color: white;
  font-size: 2rem;
  text-align: right;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 25px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #334155;
  color: #f8fafc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #475569;
}
